<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <h2>Payment</h2>
        <form method="POST" [formGroup]="Paymentform" >
            <h4>Shipping Details</h4>
            
            <div class="form-group">
                
                <div class="input-box">
                    <div *ngIf="FullName?.touched && FullName?.invalid">
                        <span>Fullname is required.</span></div>
                    <input type="text" formControlName="FullName" id="FullName" placeholder="Full Name" required class="name from-control"  >
                    <i class="fa fa-user icon"></i>
                    
                </div>
            </div>
            <div class="form-group">
                <div class="input-box">
                    
                    <h4>Payment Details</h4>
                    <input type="radio" (change)="onChange(0)" (change)="onDebit(0)" name="pay" id="bc1" checked class="radio">
                    <label for="bc1"><span><i class="fa fa-credit-card"></i> Debit Card</span></label>
                    <input type="radio" (change)="onChange(1)" (change)="onDebit(1)" name="pay" id="bc2" class="radio">
                    <label for="bc2"><span> Pay on delivery </span></label>
                </div>
                
            </div>
            <div class="form-group">
                <div class="input-box">
                    <input type="tel" placeholder="Amount" class="name" value="{{TotalAmount}}">
                    <i class="icon fa-solid fa-indian-rupee-sign"></i>
                </div>
            </div>
            <div class="form-group" *ngIf="isPayOnDelivery">
                <div *ngIf="Cardnumber?.touched && Cardnumber?.invalid">
                    <span>Card number is required.</span></div>
                <div class="input-box">
                    <input type="tel" placeholder="Card Number" class="name">
                    <i class="icon fa-solid fa-credit-card"></i>
                    
                </div>
            </div>
            <div class="form-group" *ngIf="isPayOnDelivery">
                <div class="input-box">
                    <input type="tel" placeholder="Card CVV" class="name">
                    <i class="icon fa-solid fa-credit-card"></i>
                </div>
                <div class="input-box">
                    <select>
                        <option>exp month</option>
                        <option>jan</option>
                        <option>feb</option>
                        <option>march</option>
                        <option>april</option>
                        <option>may</option>
                        <option>june</option>
                        <option>july</option>
                        <option>aug</option>
                        <option>sept</option>
                        <option>oct</option>
                        <option>nov</option>
                        <option>dec</option>
                    </select>
                    <select>
                        <option>exp year</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-box" *ngIf="isPayOnDelivery">
                    <button type="submit" routerLink="/order-successful">PAY NOW</button>
                </div>
            </div>
            <div class="form-group" >
                <div class="input-box" *ngIf="isDebitCard">
                    <button type="submit" routerLink="/order-successful">Confirm Order</button>
                </div>
            </div>
      
        </form>
    </div>
    <br><br><br>
</body>

</html>